---
layout: default
title: marushkevych.com
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
    <li> <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <span>{{ post.date | date_to_string }}</span>
            &nbsp; &nbsp; &nbsp;
            <i class="fa fa-folder-o"></i>
            {% for category in post.categories %}
                <a href="/categories.html#{{ category }}-ref" style="color:darkgreen">
                    {{ category }}
                </a>
            &nbsp; &nbsp;
            {% endfor %}
      
        <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <a href="{{ post.url }}">more...</a>
        </p>
    </li>
    {% endfor %}
  </ul>
</div>